<div class="content">
    <div class="container-fluid bg-4-db">
        <div class=" px-3 py-3 dashboard-title">
            Dashboard
        </div>

        <div class="row d-flex justify-content-between gutter">
            <div class="col-12 col-md-6 col-lg-3 d-flex ">
                <div class="card card-border card-green">
                    <div class="card-content">
                        <div class="card-logo">
                            <i class="fa-solid fa-check-double i-green"></i>
                        </div>
                        <div class="card-name">Processing</div>
                        <div class="card-detail">245 bookings</div>
                    </div>
                    <div class="card-footer">Detailed Report >></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex ">
                <div class="card card-border card-yellow">
                    <div class="card-content">
                        <div class="card-logo">
                            <i class="fa-solid fa-money-bill-transfer i-yellow"></i>
                        </div>
                        <div class="card-name">Refund</div>
                        <div class="card-detail">10 bookings</div>
                    </div>
                    <div class="card-footer">Detailed Report >></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex ">
                <div class="card card-border card-blue">
                    <div class="card-content">
                        <div class="card-logo">
                            <i class="fa-solid fa-users i-blue"></i>
                        </div>
                        <div class="card-name">Customers</div>
                        <div class="card-detail">27 needs</div>
                    </div>
                    <div class="card-footer">Contact Now >></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex ">
                <div class="card card-border card-red">
                    <div class="card-content">
                        <div class="card-logo">
                            <i class="fa-solid fa-clipboard-list i-red"></i>
                        </div>
                        <div class="card-name">Planning</div>
                        <div class="card-detail">7 Tours</div>
                    </div>
                    <div class="card-footer">Resolve Now >></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-between gutter">
            <div class="col-12 col-lg-6 d-flex mt-5">
                <div class="s-card-border">
                    <div class="s-card bg-white">
                        <div class="s-card-title d-flex b-border">
                            <div class="s-card-left">Processing Bookings</div>
                            <div class="s-card-right cursor-pointer">Go to Booking Management >></div>
                        </div>
                        <div class="s-card-content d-flex">
                            <div class="s-card-left">
                                <div class="text-heading">245</div>
                                <div>Total of processing bookings</div>
                            </div>
                            <div class="s-card-right">Have booking needing resolved this day</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex mt-5">
                <div class="s-card-border">
                    <div class="s-card bg-white">
                        <div class="s-card-title d-flex b-border">
                            <div class="s-card-left">Refund</div>
                            <div class="s-card-right cursor-pointer">Go to Invoice Management >></div>
                        </div>
                        <div class="s-card-content d-flex">
                            <div class="s-card-left">
                                <div class="text-heading">10</div>
                                <div>Total bookings needing refund</div>
                            </div>
                            <div class="s-card-right">
                                <div class="text-heading">26,750,000</div>
                                <div>Total money needing refund</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex mt-5">
                <div class="s-card-border">
                    <div class="s-card bg-white">
                        <div class="s-card-title d-flex b-border">
                            <div class="s-card-left">Customers</div>
                            <div class="s-card-right cursor-pointer">Go to Customer Management >></div>
                        </div>
                        <div class="s-card-content d-flex">
                            <div class="s-card-left">
                                <div class="text-heading">
                                    27
                                </div>
                                <div>
                                    Total customer needs consultation
                                </div>
                            </div>
                            <div class="s-card-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex mt-5">
                <div class="s-card-border">
                    <div class="s-card bg-white">
                        <div class="s-card-title d-flex b-border">
                            <div class="s-card-left">Tour Planning</div>
                            <div class="s-card-right cursor-pointer">Go to Tour Management >></div>
                        </div>
                        <div class="s-card-content d-flex">
                            <div class="s-card-left">
                                <div class="text-heading">
                                    7
                                </div>
                                <div>Total Tour needing completed</div>
                            </div>
                            <div class="s-card-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>